
 /* .headline{
     background-color: aqua; 
 }*/
.headline h1{
    /* background-color: aqua;  */
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 70px;
    position: relative; 
    top: 160px;
    left: 40%;
    color: #5E0606;
}

.headline p{
    /* background-color: #8ac6fe; */
    position: relative;
    left: 615px;
    top: 150px;
    font-size: 25px;
    font-family: 'poppins',sans-serif;
}