.space{
    display: flex;
}
.container{
    width: 50%;
    height: 100vh;
    background-color: antiquewhite;
    position: relative;
    font-family: 'Poppins',sans-serif;
    padding: 4rem 0rem 4rem 0rem;

}

.container h1{
    /* background-color: aqua; */
    position: relative;
    width: 100%;
    margin-right: 0;
    font-size: 4.5rem;
    font-weight: 20;
    color: #f1390b;
    text-align: center;
    
}


.container p{
    /* background-color: aqua; */
    position: relative;
    left: 15%;
    font-size: 0.8rem;
    width: 70%;
    text-align: justify;
    padding: 3rem 0px 6rem 0px;
}

.image1 {
    height: 100vh;
    width: 50%;
}

.value{
    background-color: rgb(255, 255, 255);
    max-width: fit-content;
    position: relative;
    font-family: 'Poppins',sans-serif;
    padding: 5rem 0 5rem 0;
}

.value h2{
    /* background-color: aqua; */
    position: relative;
    font-size: 3.7rem;
    color: #5E0606;
    max-width: 100%;
    text-align: center;
}

.value p{
    /* background-color: aqua; */
    max-width: 63%;
    left: 17%;
    position: relative;
    text-align: center;
    font-size: 1.2rem;
    padding: 0 0 3rem 0;
    font-style: italic;
}
