.contact{
    position: relative;
    background: linear-gradient( -45deg,#B91616,#560b0b);
    top: 500px; 
    font-family: 'Poppins',sans-serif;
    padding: 0 0 2.5rem 0;
}

.contact h1{
    font-size: 3.5rem;
    padding: 6rem 3rem 4rem 3.5rem;
}

.contact p{
    font-size: 1rem;
    padding: 0rem 3rem 0.1rem 3.5rem; 
}