
 /* .headline{
     background-color: aqua; 
 }*/

 .public{
    display: flex;
    background: linear-gradient(90deg, rgba(237,38,6,1) 0%, rgba(246,94,12,1) 0%, rgba(255,158,0,1) 100%);
    height: 100vh;
 }

 .log{
    margin-top: 12%;
    margin-left: 8%;
 }

 .logoSpace{
    height: 37vh;
    margin-left: 8%;
    margin-top: 17%;
    transform: rotate(45deg);
 }

 .headline{
    position: relative;
    width: 60%;
    top: 0;
    left: 8%;
    padding: 0 0 5rem 5rem;
    margin-top: 19%;
    /* background-color: aquamarine; */
 }
 
.headline h1{
    /* background-color: aqua;  */
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
    position: relative; 
    color: #f0e8e8;
}

.headline p{
    /* background-color: #8ac6fe; */
    position: relative;
    width: max-content;
    font-size: 1.1rem;
    margin-top: 6%;
    margin-left: 13%;
    color: coral;
    border-radius: 50px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0.6rem 3rem 0.6rem 3rem;
    background-color: azure;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}