
.logo {
  font-family: "roboto";
  font-size: 0.9rem;
  color: rgb(33, 33, 33);
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.80);
}

.navbar {
  width: 96%;
  padding: 0.8rem 0 0.8rem 0;
  margin: 0 auto;
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(32, 32, 32);
}

.navigation__list {
  display: flex;
  opacity: 80%;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  /* justify-content: space-evenly; */
  /* margin-left: auto; */
}

.navigation__item + .navigation__item {
  margin-left: 1.5rem;
}

.navigation__item {
  padding: 0.5rem 0.8rem;
  border-radius: 50px;
  transition: all 350ms ease-in-out;
}

.navigation a {
  color: rgb(39, 39, 39);
}

.navigation__item:hover,
.navigation__item:focus {
  transform: scale(1.08);
  background-color: #fe8015;
}
